@model WebDocTruyen.Models.TrangThai

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Xoá Trang Thái</h1>

<h3>Bạn có chắn chắn xoá trạng thái này không?</h3>
<div>
    <h4>Trạng Thái</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Trạng thái
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThaiTruyen)
        </dd>
       
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TrangThaiId" />
        <input type="submit" value="Xoá" class="btn btn-danger" /> |
        <a class="btn btn-info" asp-action="Index">Trở về danh sách</a>
    </form>
</div>
